.input-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #33383d 0%, #1c1d20 100%);

  input {
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 50px;
    height: 3.5em;
    margin-bottom: 20px;
    width: 50%;
    padding: 15px;
    color: white;
    &::placeholder {
      color: white;
    }
    @media (max-width: 768px) {
      width: 70%;
    }
  }
}
